/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body { /* General style rules for the body section */
	background-color:black;
	color: white;
	text-align: center;
}

h1 { /* Matches elements with h3 tag */
	color: white;

}
#div1 { /* Matches element with id=SimpleDiv */
	background-color: lightpink;
	margin: 5%;
	padding: 6px;
}

#div2 {
	/* background-color:lime; */
	background-color:violet;
	margin: 5%;
	padding: 6px;
	float: left;
	width: 25%;
}

#div3 {
	/* background-color: orange; */
	background-color:violet;
	margin: 5%;
	padding: 6px;
	float:right;
	width: 25%;
}

#div4 {
	background-color:purple;
	margin: 5%;
	padding: 6px;
	clear: both;
}
{

	border-style: solid groove;
  border-width: 5px;
	border-color: green;
}


#bodyDiv{
	padding-bottom: 70px;
	padding-top: 70px;
	width:40%;
				margin-left:auto;
				margin-right:auto;
}


.pic {
	position: absolute;
}

.pic2{
	position: absolute;

}

.imgGetLarge{
	width: 100px;
	border-style: solid;
	border-width: 5px;
	border-color: #fff91f;
}

/*.imgGetLarge:hover{
	transform: scale(1.2, 1.2);
}*/
